<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Job05 - List Users</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <h2>Product List</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ firstname }}</td>
                    <td>{{ lastname }}</td>
                    <td>{{ email }}</td>
                    <td>
                        <a href="/users/update/{{ id }}" class="btn btn-sm btn-info edit" data-id="{{ id }}">Edit</a>
                        <a href="/users/delete/{{ id }}" class="btn btn-sm btn-danger delete" data-id="{{ id }}">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>